.foot-color,
.itg-button-2:hover,
.itg-button-7:hover,
.itg-button-3:hover,
.itg-button-4:hover,
.instructor,
.box,
button.capitalize.priceing-btn:hover,
.agency-effect:hover .agency,
.our-team-effect:hover .our-team,
.our-team-effect a.itg-button-3,
.img-effect:after,
.img-effect-1:after,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
figure.team-img:before,
.team-icon li a:hover,
.bg-theam h4,
.search-bar-1 button,
.sidebar-list ul li:hover,
.sidebar-icon:hover,
.itg-button-5:hover,
.itg-button-6:hover,
.search-404 button,
.instructor-serv,
.progress-bar,
figure.trainer-hov:before,
.pagination-box span:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.faq-hov:hover,
.timer,
a.ui-state-default:hover,
#style-switcher h2 a,
.sidebar-box,
.services-box-instructor,
.cube1,
.cube2,
.color-effect {
    background-color: #ffda6b;
}
.color-box,
.agency,
.itg-button-1:hover,
.itg-button-3,
.itg-button-4,
.itg-button-5,
.itg-button-6,
.trainer h5,
.trainer-1 h5,
.blog-detail a:hover,
.blog-detail span a,
.blog-full a:hover,
.blog-full span a,
.blog-detail-1 h4 a:hover,
.blog-full-1 h4 a:hover,
.blog-detail-2 h4 a:hover,
button.capitalize.priceing-btn,
input.itg-button.pull-right.color-effect:hover,
.social-gallary ul li a:hover,
.hover-detail a:hover,
.hover-detail span a,
.transform-footer,
.service-text a:hover,
.team:hover .trainer h4 a,
.team:hover .trainer-1 h4 a,
.owl-next,
.owl-prev,
.service-icon-1 ul li a:hover,
.blog-comment h5 a:hover,
.sidebar-content a:hover,
.sidebar-content span a,
.sidebar-pera a,
.sidebar-icon a,
.blog-comment h5 a:hover,
.error-page a:hover,
.comming-soon-icon ul li a:hover,
.grid-section ul li a i:hover,
.serv-text-1 a:hover,
.trainer-icon ul li,
.trainer-text h4 a:hover,
.capitalize span a:hover,
.sidebar-blog-list ul li a:hover,
.sidebar-icon,
.owl-next:hover,
.owl-prev:hover,
#partners .owl-next:hover,
#partners .owl-prev:hover,
#banner .owl-prev:hover,
#banner .owl-next:hover,
.itg-button-1:hover,
.spinner h3,
.theme-quote-blockquote:after  {
    color: #ffda6b;
}
.itg-button-2:hover,
.itg-button-7:hover,
.itg-button-3:hover,
.itg-button-5:hover,
.itg-button-6:hover,
.agency i,
.agency a,
button.capitalize.priceing-btn,
button.capitalize.priceing-btn:hover,
.our-team-effect a.itg-button-3,
.blog-border P,
.sidebar-icon
 {
    border-color: #ffda6b;
}