/*
==========================
1 Fonts
==========================
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Quicksand:300,400,500,700");
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
==========================
2 Body
==========================
*/

body {
  font-family: "NanumSquareRound";
  font-size: 16px;
  color: #202020;
  line-height: 1.8em;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  overflow-x: hidden;
}
/*
==========================
3 Default Css 
==========================
*/
/* 3.1 Normal Css */

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
p,
em {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0px;
  background: none;
  line-height: 1.6em;
  font-family: "Quicksand", sans-serif;
  color: #000;
  text-transform: capitalize;
}
.small-text-center {
  text-align: center;
}

.text-center {
  text-align: center;
}

address {
  font-size: small;
}

.text-white {
  color: white;
}
/* 3.2 Form Css */

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="number"],
select {
  padding: 0 22px;
  border: 0;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  height: 40px;
  font-size: 14px;
}
textarea {
  padding: 10px 20px;
  border: 0;
  display: inline-block;
  width: 100%;
  border: 0px solid rgba(0, 0, 0, 0.12);
  outline: none;
  background-color: #eee;
  font-size: 14px;
  resize: none;
}
input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.box-check:before {
  display: block;
  position: absolute;
  content: "\f00c";
  border-radius: 0;
  top: 0;
  left: 1px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  font: normal normal normal 11px/1 FontAwesome;
  opacity: 0;
}
.box-check {
  display: block;
  position: absolute;
  border: 2px solid;
  border-radius: 0;
  height: 15px;
  width: 15px;
  top: 17px;
  margin-top: -10px;
  left: 0;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}
.check {
  border: 5px solid #ffffff;
}
.check::before {
  display: block;
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  visibility: hidden;
}
.check {
  display: block;
  position: absolute;
  border: 2px solid;
  height: 20px;
  width: 20px;
  top: 50%;
  margin-top: -10px;
  left: 15px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}
input[type="radio"]:checked ~ .check::before {
  visibility: visible;
}
input[type="radio"]:checked ~ label {
  #color: #2e2e2e;
}
input[type="checkbox"]:checked ~ .box-check {
  border: 2px solid;
}
input[type="checkbox"]:checked ~ label {
  #color: #2e2e2e;
}
input[type="checkbox"]:checked ~ .box-check:before {
  opacity: 1;
}
ul.list label.radio-label,
label.radio-label {
  display: block;
  position: relative;
  font-size: 16px;
  padding: 5px 0px 0px 15px;
  margin: 0 auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  text-transform: capitalize;
}
label {
  display: inline-block;
  font-weight: 400;
  margin: 0 0 5px 0px;
  color: #777;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #777;
}
select::-moz-placeholder,
select::-webkit-input-placeholder,
select:-ms-input-placeholder,
select:-moz-placeholder {
  color: #fff;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #777;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #777;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777;
}
section {
  position: relative;
  width: 100%;
  float: left;
}
.positionR {
  position: relative;
}
.positionS {
  position: static;
}
.positionA {
  position: absolute;
}
.bagB {
  background: black;
}
.bagW {
  background: White;
}
.border-box {
  border: 1px solid lightgray;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li a {
  display: inline-block;
}
ul li {
  font-size: 16px;
}
span {
  font-size: 16px;
  font-size: inherit;
}
.clear {
  clear: both;
}
/* 3.3 Button style */

.itg-button-1 {
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Quicksand", sans-serif;
  position: relative;
  outline: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button span {
  font-size: 16px;
}
.itg-button-1:hover {
  background-color: #fff;
}
.itg-button-2 {
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Quicksand", sans-serif;
  position: relative;
  outline: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button-2:hover {
  color: #fff;
}
.itg-button-3 {
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  border: 1px solid;
  font-family: "Quicksand", sans-serif;
  position: relative;
  outline: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button-3:hover {
  color: #fff;
}
.itg-button-4 {
  padding: 0px 15px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  border: 1px solid;
  font-family: "Quicksand", sans-serif;
  position: relative;
  outline: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: 500;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button-4:hover {
  color: #fff;
}
.itg-button-5 {
  padding: 5px 15px;
  background: white;
  border: 0;
  border: 1px solid #fff;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  outline: none;
  z-index: 2;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -65px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button-5:hover {
  color: #fff;
}
.itg-button-6 {
  padding: 10px 15px;
  background: white;
  border: 0;
  border: 1px solid #fff;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  outline: none;
  z-index: 2;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -57.1px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button-6:hover {
  color: #fff;
}
.itg-button-7 {
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Quicksand", sans-serif;
  position: relative;
  outline: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button-7:hover {
  color: #fff;
}
.itg-button span {
  font-size: 16px;
  font-weight: 400;
  z-index: 2;
  position: relative;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button:after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #777;
  position: absolute;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.itg-button:hover:after {
  height: 100%;
  color: red;
  z-index: 1;
}
.itg-button:hover span {
  color: #fff;
}
/* 3.4 padding style */

.pad0 {
  padding: 0px;
}
.pad5 {
  padding: 5px;
}
.pad10 {
  padding: 10px;
}
.pad15 {
  padding: 15px;
}
.pad20 {
  padding: 20px;
}
.pad30 {
  padding: 30px;
}
.pad40 {
  padding: 40px;
}
.pad50 {
  padding: 50px;
}
.pad60 {
  padding: 60px;
}
.pad70 {
  padding: 70px;
}
.pad80 {
  padding: 80px;
}
.pad90 {
  padding: 90px;
}
.pad100 {
  padding: 100px;
}
.padTB0 {
  padding: 0px 0;
}
.padTB5 {
  padding: 5px 0;
}
.padTB10 {
  padding: 10px 0;
}
.padTB15 {
  padding: 15px 0;
}
.padTB20 {
  padding: 20px 0;
}
.padTB30 {
  padding: 30px 0;
}
.padTB40 {
  padding: 40px 0;
}
.padTB50 {
  padding: 50px 0;
}
.padTB60 {
  padding: 60px 0;
}
.padTB70 {
  padding: 70px 0;
}
.padTB80 {
  padding: 80px 0;
}
.padTB90 {
  padding: 90px 0;
}
.padTB100 {
  padding: 100px 0;
}
.padTB200 {
  padding: 200px 0;
}
.padTB300 {
  padding: 300px 0;
}
.padT0 {
  padding-top: 0px;
}
.padT5 {
  padding-top: 5px;
}
.padT10 {
  padding-top: 10px;
}
.padT15 {
  padding-top: 15px;
}
.padT20 {
  padding-top: 20px;
}
.padT30 {
  padding-top: 30px;
}
.padT40 {
  padding-top: 40px;
}
.padT50 {
  padding-top: 50px;
}
.padT60 {
  padding-top: 60px;
}
.padT70 {
  padding-top: 70px;
}
.padT80 {
  padding-top: 80px;
}
.padT90 {
  padding-top: 90px;
}
.padT100 {
  padding-top: 100px;
}
.padT200 {
  padding-top: 200px;
}
.padT300 {
  padding-top: 300px;
}
.padB0 {
  padding-bottom: 0px;
}
.padB5 {
  padding-bottom: 5px;
}
.padB10 {
  padding-bottom: 10px;
}
.padB20 {
  padding-bottom: 20px;
}
.padB30 {
  padding-bottom: 30px;
}
.padB40 {
  padding-bottom: 40px;
}
.padB50 {
  padding-bottom: 50px;
}
.padB60 {
  padding-bottom: 60px;
}
.padB70 {
  padding-bottom: 70px;
}
.padB80 {
  padding-bottom: 80px;
}
.padB90 {
  padding-bottom: 90px;
}
.padB100 {
  padding-bottom: 100px;
}
.padB200 {
  padding-bottom: 200px;
}
.padB300 {
  padding-bottom: 300px;
}
.padB400 {
  padding-bottom: 400px;
}
.padL0 {
  padding-left: 0px;
}
.padL5 {
  padding-left: 5px;
}
.padL10 {
  padding-left: 10px;
}
.padL20 {
  padding-left: 20px;
}
.padL30 {
  padding-left: 30px;
}
.padL40 {
  padding-left: 40px;
}
.padL50 {
  padding-left: 50px;
}
.padL60 {
  padding-left: 60px;
}
.padL70 {
  padding-left: 70px;
}
.padL80 {
  padding-left: 80px;
}
.padL90 {
  padding-left: 90px;
}
.padL100 {
  padding-left: 100px;
}
.padLR0 {
  padding-left: 0px;
}
.padLR5 {
  padding-left: 5px;
}
.padLR10 {
  padding-left: 10px;
}
.padLR20 {
  padding-left: 20px;
}
.padLR30 {
  padding-left: 30px;
}
.padLR40 {
  padding-left: 40px;
}
.padLR50 {
  padding-left: 50px;
}
.padLR60 {
  padding-left: 60px;
}
.padLR70 {
  padding-left: 70px;
}
.padLR80 {
  padding-left: 80px;
}
.padLR90 {
  padding-left: 90px;
}
.padLR100 {
  padding-left: 100px;
}
.padR0 {
  padding-right: 0px;
}
.padR5 {
  padding-right: 5px;
}
.padR10 {
  padding-right: 10px;
}
.padR20 {
  padding-right: 20px;
}
.padR30 {
  padding-right: 30px;
}
.padR40 {
  padding-right: 40px;
}
.padR50 {
  padding-right: 50px;
}
.padR60 {
  padding-right: 60px;
}
.padR70 {
  padding-right: 70px;
}
.padR80 {
  padding-right: 80px;
}
.padR90 {
  padding-right: 90px;
}
.padR100 {
  padding-right: 100px;
}
/* 3.5 Margin Style */

.mar0 {
  margin: 0px;
}
.mar5 {
  margin: 5px;
}
.mar10 {
  margin: 10px;
}
.mar15 {
  margin: 15px;
}
.mar20 {
  margin: 20px;
}
.mar30 {
  margin: 30px;
}
.mar40 {
  margin: 40px;
}
.mar50 {
  margin: 50px;
}
.mar60 {
  margin: 60px;
}
.mar70 {
  margin: 70px;
}
.mar80 {
  margin: 80px;
}
.mar90 {
  margin: 90px;
}
.mar100 {
  margin: 100px;
}
.marT0 {
  margin-top: 0px;
}
.marT5 {
  margin-top: 5px;
}
.marT10 {
  margin-top: 10px;
}
.marT15 {
  margin-top: 15px;
}
.marT20 {
  margin-top: 20px;
}
.marT30 {
  margin-top: 30px;
}
.marT40 {
  margin-top: 40px;
}
.marT50 {
  margin-top: 50px;
}
.marT60 {
  margin-top: 60px;
}
.marT70 {
  margin-top: 70px;
}
.marT80 {
  margin-top: 80px;
}
.marT90 {
  margin-top: 90px;
}
.marT100 {
  margin-top: 100px;
}
.marB0 {
  margin-bottom: 0px;
}
.marB5 {
  margin-bottom: 5px;
}
.marB10 {
  margin-bottom: 10px;
}
.marB20 {
  margin-bottom: 20px;
}
.marB30 {
  margin-bottom: 30px;
}
.marB40 {
  margin-bottom: 40px;
}
.marB50 {
  margin-bottom: 50px;
}
.marB60 {
  margin-bottom: 60px;
}
.marB70 {
  margin-bottom: 70px;
}
.marB80 {
  margin-bottom: 80px;
}
.marB90 {
  margin-bottom: 90px;
}
.marB100 {
  margin-bottom: 100px;
}
.marL0 {
  margin-left: 0px;
}
.marL5 {
  margin-left: 5px;
}
.marL10 {
  margin-left: 10px;
}
.marL20 {
  margin-left: 20px;
}
.marL30 {
  margin-left: 30px;
}
.marL40 {
  margin-left: 40px;
}
.marL50 {
  margin-left: 50px;
}

.marL58 {
  margin-left: 58px;
}

.marL60 {
  margin-left: 60px;
}
.marL70 {
  margin-left: 70px;
}
.marL80 {
  margin-left: 80px;
}
.marL90 {
  margin-left: 90px;
}
.marL100 {
  margin-left: 100px;
}
.marR0 {
  margin-right: 0px;
}
.marR5 {
  margin-right: 5px;
}
.marR10 {
  margin-right: 10px;
}
.marR20 {
  margin-right: 20px;
}
.marR30 {
  margin-right: 30px;
}
.marR40 {
  margin-right: 40px;
}
.marR50 {
  margin-right: 50px;
}
.marR60 {
  margin-right: 60px;
}
.marR70 {
  margin-right: 70px;
}
.marR80 {
  margin-right: 80px;
}
.marR90 {
  margin-right: 90px;
}
.marR100 {
  margin-right: 100px;
}
/*
==========================
4 Background
==========================
*/

.special-style {
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  background-size: cover !important;
  width: 100%;
  z-index: 0;
}
.special-style-full {
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  background-size: cover;
  width: 100%;
  z-index: 0;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  left: 0;
}
.parallax-style {
  background-attachment: fixed;
}
/*
==========================
5 Header
==========================
*/
/* 5.1 Menu */

.insta-icon {
  position: absolute;
  right: 0;
  top: -1px;
  float: left;
}
.insta-icon a i {
  color: white;
  margin: 10px;
}
.navbar-nav li a i {
  margin-left: 8px;
  margin-top: 3px;
  float: right;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.nav .open > a:focus,
.nav .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
ul.nav.navbar-nav li a:hover {
  background-color: transparent;
}
.wa-main-menu .navbar-default .navbar-nav > li > a:focus,
.wa-main-menu .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}
ul.dropdown-menu.sm-nowrap li a {
  font-size: 14px;
  padding: 10px 15px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: white;
}
.yoga-menu {
  top: 0;
  left: 0;
  width: 100%;
  float: left;
  position: absolute;
  z-index: 2;
}
.yoga-menu-1 {
  top: 0;
  left: 0;
  width: 100%;
  float: left;
  position: absolute;
}
.yoga-menu-section {
  text-transform: capitalize;
  font-size: 16px;
  position: relative;
}
.navbar-collapse.collapse.yoga-menu-section ul li a {
  color: white;
}
ul.nav.navbar-nav.menu-section.sm {
  float: none;
  text-align: center;
}
.navbar.navbar-default.theme-bg.mar0 {
  padding: 25px 0;
}
a.navbar-brand {
  padding: 9px 0;
}
.yoga-service {
  position: relative;
  width: 100%;
  float: left;
  top: 50%;
  margin-top: -52px;
}
.yoga-service h3 {
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.yoga-service h1 {
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.detail-section {
  position: relative;
  float: left;
  width: 100%;
}

.transform-slider {
  width: 100%;
  text-align: center;
}
/* 5.2 Slider */

.banner-box {
  width: 100%;
  position: relative;
}
.banner-box::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-text {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -66px;
}
.owl-nav {
  top: 50%;
  width: 100%;
  margin-top: -5.5%;
  position: absolute;
  height: 0;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.owl-prev {
  float: left;
  margin-left: -40px;
  background-color: #fff;
  width: 30px;
  text-align: center;
  color: #fff;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.owl-next {
  float: right;
  margin-right: -40px;
  background-color: #fff;
  width: 30px;
  text-align: center;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
#partners .owl-prev {
  float: left;
  background-color: #eee;
  width: 30px;
  text-align: center;
  color: #fff;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
#partners .owl-next {
  float: right;
  background-color: #eee;
  width: 30px;
  text-align: center;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.owl-prev:hover,
.owl-next:hover {
  color: #fff;
}
.owl-carousel.owl-stage-outer {
  z-index: 2;
}
div#banner .owl-nav {
  margin-top: -30px;
  top: 50%;
  position: absolute;
}
div#banner .owl-prev {
  margin-left: 30px;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
div#banner .owl-next {
  margin-right: 30px;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
/*
==========================
6 Service Section
==========================
*/

.detail-text-sec {
  position: absolute;
  top: 50%;
  margin-top: -33px;
  left: 0;
  width: 100%;
  text-align: center;
}
.details-section-boxs {
  webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
figure.effect-bubba h3 {
  opacity: 0;
}
.services-box-instructor {
  width: 100%;
  float: left;
  position: relative;
}
.services-box-instructor {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 96px 0;
}
.services-box-instructor p {
  padding: 0 20px;
  color: #fff;
  margin-top: 10px;
}
.details-section-boxs {
  width: 100%;
  max-height: 396px;
  overflow: hidden;
}
.services-box-instructor h2,
a,
a:hover {
  color: #fff;
}
figure.effect-bubba img {
  width: 100%;
}
.services-box-instructor.sec {
  background: #f99373;
}
.details-section-boxs .effect-bubba img {
  width: 100%;
}
/*
==========================
7 Yoga Section
==========================
*/

.yoga-agency {
  width: 100%;
  position: relative;
  float: left;
}
.yoga-agency h3 {
  text-transform: uppercase;
  font-size: 24px;
  padding: 0 9px;
}
.yoga_h3 h3 {
  margin-left: 20px;
}
.agency {
  float: none;
  position: relative;
  font-size: 25px;
  border: 2px solid;
  width: 75px;
  height: 75px;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.agency-effect:hover .agency {
  color: #fff;
}
.agency a {
  border: 2px solid;
  width: 75px;
  height: 75px;
  display: inline-block;
  text-align: center;
  padding: 25px 0;
}
.agency-1 {
  padding: 0 15px;
}
.agency-1 h4 {
  color: #000;
  text-transform: uppercase;
}
.agency-1 p {
  color: #000;
  margin: 0px;
}
/*
==========================
8 Team Section 
==========================
*/

.profile-card-2 {
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}

.profile-card-2 img {
  transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
  position: absolute;
  left: 30px;
  bottom: 80px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #fff;
  font-size: 13px;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
  margin: 5px;
}

.profile-card-2:hover img {
  filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
  bottom: 80px;
}

.profile-card-2:hover .profile-username {
  bottom: 60px;
}

.profile-card-2:hover .profile-icons {
  right: 40px;
}

.team {
  width: 100%;
  position: relative;
  float: left;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.team-img:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: 0;
  z-index: 1;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.team:hover figure.team-img:before {
  opacity: 0.85;
}
.team:hover {
  background-color: #fff;
  box-shadow: 0px 7px 14px 3px rgba(0, 0, 0, 0.175);
}
.team:hover .team-icon {
  opacity: 1;
}
.team-img {
  position: relative;
  width: 100%;
  float: left;
  z-index: 1;
}
figcaption.team-icon ul {
  margin: 0 22%;
}
.team-icon {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 48%;
  left: 48%;
  margin-top: -3px;
  margin-left: -48%;
  opacity: 0;
  z-index: 1;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.team-icon li a:hover {
  color: white;
}
.team-circle {
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #fff;
  border-radius: 100%;
  font-size: 16px;
  padding: 5px 10px;
  float: left;
  color: #777777;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.trainer-1 {
  text-align: center;
  background-color: #eee;
  width: 100%;
  float: left;
}
.trainer-1 h4 a {
  text-transform: uppercase;
  color: #202020;
}
.trainer-1 h5 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

/*

/*
==========================
9. Class Section
==========================
*/

.our-team-box {
  position: relative;
  width: 100%;
  float: left;
}
.our-team {
  text-align: center;
  background-color: #eee;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.our-team h4 a {
  text-transform: uppercase;
  color: #202020;
}
.our-team h5 {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #202020;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  font-weight: normal;
}
.our-team-effect:hover .our-team h4 a,
.our-team-effect:hover .our-team h5 {
  color: #fff;
}
.our-team-btn {
  position: absolute;
  top: 40%;
  left: 40%;
  margin-top: -20px;
  margin-left: -20px;
  opacity: 0;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.our-team-effect {
  position: relative;
  width: 100%;
  float: left;
}
.our-team-effect:hover .our-team-btn {
  opacity: 1;
}
.our-team-effect a.itg-button-3 {
  color: #fff;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.grid-bg {
  background-color: #eee;
}
.grid-section {
  position: relative;
  float: left;
  width: 100%;
}
.grid-section-1 {
  position: relative;
  float: left;
  width: 100%;
  top: 20px;
}
.grid-section-1 h5 {
  text-transform: capitalize;
  font-size: 16px;
  text-align: left;
  letter-spacing: 3px;
  padding-top: 4px;
}
.grid-section ul li a {
  color: #202020;
  float: left;
  font-size: 16px;
}
.grid-section ul li a i {
  float: left;
  padding: 27px 10px;
}
.grid-select {
  float: right;
  padding: 15px 20px;
  width: 100%;
}
.grid-select option {
  text-transform: capitalize;
  font-size: 16px;
}
.class-color {
  width: 100%;
  background-color: #fff;
}
.class-img img {
  width: 100%;
  float: left;
  position: relative;
}
.class-list {
  float: left;
  background-color: #eee;
  padding: 32px;
}
.class-list h4 a {
  text-transform: uppercase;
  color: #202020;
  font-size: 18px;
}
.class-list p {
  color: #202020;
  padding: 0;
  margin-bottom: 2px;
}
/*
==========================
10 Banner
==========================
*/

.yoga-box {
  float: left;
  position: relative;
  width: 100%;
  padding: 200px 0;
}
.yoga-text,
.yoga-section {
  float: left;
  width: 100%;
  position: relative;
}
.yoga-btn {
  float: left;
  width: 100%;
  position: relative;
  top: 50%;
  text-align: center;
}
.yoga-text p {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 0px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.yoga-text-1 p {
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 0px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.yoga1-text p {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 0px;
  color: rgb(117, 72, 66);
  font-family: "Open Sans", sans-serif;
}
.yoga1-text-1 p {
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 0px;
  color: rgb(117, 72, 66);
  font-family: "Open Sans", sans-serif;
}

.yoga-relative {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
#banner .owl-prev {
  background: transparent;
  color: #fff;
  font-size: 30px;
}
#banner .owl-next {
  background: transparent;
  color: #fff;
  font-size: 30px;
}
/*
==========================
11 Gallery
==========================
*/

.img-effect {
  position: relative;
  width: 100%;
  float: left;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.img-effect img {
  width: 100%;
}
.img-effect:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.img-effect-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.img-effect:hover.img-effect:after {
  opacity: 0.85;
}
figcaption.img-effect-icon a {
  color: white;
  font-size: 18px;
  position: relative;
}
figcaption.img-effect-icon {
  position: absolute;
  top: 50%;
  margin-left: -8px;
  left: 50%;
  opacity: 0;
  z-index: 2;
  margin-top: -14.5px;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.img-effect:hover figcaption.img-effect-icon {
  opacity: 1;
}

/*
==========================
15 Page Header
==========================
*/

.breadcrumb {
  border-radius: 0;
  background: none;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 11px 0;
  position: relative;
}
.breadcrumb-section h3 {
  color: #fff;
  text-transform: uppercase;
}
.breadcrumb > li + li:before {
  content: "\f105";
  padding: 0 5px;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -6px;
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
}
.breadcrumb > li {
  margin: 0px 10px;
  position: relative;
}
.breadcrumb > li a {
  color: #fff;
  text-transform: capitalize;
}
.breadcrumb > .active {
  color: #fff;
  text-transform: capitalize;
}
/*
==========================
16 Pre Loder
==========================
*/

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
.spinner {
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner h3 {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 65px;
  text-align: center;
  left: -15px;
}
@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/*
==========================
17 Page Style
==========================
*/
/* 17.1 Team Profile */

.trainer {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  float: left;
}
.trainer-box {
  background-color: #eee;
}

.trainer-box1 {
  background-color: #fdeedd;
}
.trainer h4 a {
  text-transform: uppercase;
  color: #000;
}
.trainer h5 {
  text-transform: capitalize;
  font-size: 16px;
}

.class {
  text-align: center;
  background-color: #a76b6b;
  width: 100%;
  float: left;
}

.class h4 a {
  text-transform: uppercase;
  color: #000;
}
.class h5 {
  text-transform: capitalize;
  font-size: 16px;
}
.trainer-color {
  background-color: #eee;
  width: 50%;
  float: left;
  position: relative;
}
.trainer-color-1 {
  background-color: #eee;
  width: 100%;
  float: left;
  position: relative;
}
.trainer-icon {
  position: relative;
  float: left;
  width: 100%;
  top: -7px;
}
.trainer-icon ul li {
  float: left;
  padding: 5px;
}
.trainer-text {
  float: left;
  position: relative;
  width: 100%;
}
.trainer-text h4 {
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.trainer-text h4 a {
  color: #202020;
}
.trainer-effect {
  position: relative;
  width: 100%;
  float: left;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.trainer-hov {
  position: relative;
  width: 100%;
  float: left;
}
figure.trainer-hov img {
  width: 100%;
}
.trainer-list.sec {
  padding-bottom: 4px;
}
figure.trainer-hov:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.trainer-effect:hover figure.trainer-hov:before {
  opacity: 0.5;
}
.trainer-effect:hover a {
  opacity: 1;
}
.trainer-box .owl-prev {
  background: transparent;
  color: #000;
  font-size: 25px;
  margin-left: -20px;
}
.trainer-box .owl-next {
  background: transparent;
  color: #000;
  font-size: 25px;
  margin-right: -20px;
}
.trainer-box .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.class-box .owl-prev {
  background: transparent;
  color: #000;
  font-size: 25px;
  margin-left: -20px;
}
.class-box .owl-next {
  background: transparent;
  color: #000;
  font-size: 25px;
  margin-right: -20px;
}
.class-box .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

/* 17.2 Progress Bar */

.tooltip {
  position: relative;
  float: right;
}
.tooltip.top {
  margin-top: -2px;
  left: 50px !important;
}
.tooltip > .tooltip-inner {
  background-color: #000;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
.progressText h5 {
  padding-bottom: 10px;
}
.popOver + .tooltip > .tooltip-arrow {
  border-left: 0px solid transparent;
  border-right: 12px solid transparent;
  border-top: 8px solid #000;
}
#section {
  margin: 100px auto;
  height: 1000px;
}
.progress {
  border-radius: 0;
  overflow: visible;
  height: 10px;
  webkit-box-shadow: none;
  box-shadow: none;
}
span.progressText h5 {
  letter-spacing: 2px;
  font-size: 16px;
  margin: 15px 0px;
}
.progress-bar {
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  margin-left: -28px;
  border-top-color: #000;
}
/* 17.3 Error Page */

.error-page {
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
}
.error-page h4 {
  margin-bottom: 20px;
}
.error-page p {
  margin: 0px;
}
.error-page a {
  color: #202020;
}
.search-404 {
  float: left;
  position: relative;
  width: 100%;
}
.search-404 button {
  position: absolute;
  top: 1px;
  right: -53%;
  border: 0px;
  padding: 5px 20px;
  color: #fff;
  z-index: 2;
  font-size: 12px;
}
.search-404 input {
  background-color: #eee;
  border: 0px;
  font-size: 12px;
  margin: 0 53%;
}
.iframe-map {
  width: 100%;
  border: 0px;
}
.iframe-map iframe {
  width: 100%;
  height: 200px;
}
iframe {
  border: 0;
}
/* 17.4 Comming Soon Page */

.comming-soon-content {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 100px;
}
.comming-logo {
  padding: 0px !important;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.comming-soon-content h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.comming-soon-content p {
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.comming-main {
  padding-top: 240px;
  padding-bottom: 240px;
}
.comming-soon-icon {
  float: left;
  position: relative;
  width: 100%;
  margin: 0 28%;
  padding-top: 100px;
}
.comming-soon-icon ul {
  float: left;
  position: relative;
  width: 100%;
}
.comming-soon-icon ul li {
  float: left;
  position: relative;
  letter-spacing: 5px;
  padding: 20px 14px;
}
.comming-soon-icon ul li a {
  color: #fff;
  font-size: 20px;
}
.dark-overlay:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  opacity: 0.8;
}
.dark-overlay-1:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}
.comming-soon-fix {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
#demo {
  position: relative;
  width: 100%;
  float: left;
}
.timer {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 100%;
  padding: 35px 0;
  float: left;
  color: #fff;
  margin: 20px 0px;
}
#demo span {
  color: #fff;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  width: 70%;
  margin: 0;
  font-weight: 500px;
}
/* 17.5 Service Page  */

.service-text {
  position: relative;
  width: 100%;
  float: left;
}
.service-text h3 {
  color: #202020;
  text-transform: uppercase;
}
.service-text h4 {
  color: #202020;
  text-transform: uppercase;
}
.service-text a {
  color: #202020;
  text-transform: capitalize;
}
.service-text p {
  color: #202020;
  margin: 0;
  padding: 20px 0 20px 0;
}
.service-icon {
  position: relative;
  width: 100%;
  float: right;
  background-color: #eee;
}
.service-icon.section {
  margin: 30px 0;
}
.service-icon h4 {
  text-transform: capitalize;
  padding: 20px 42px;
  float: left;
}
.service-icon-1 {
  float: right;
  position: relative;
  padding: 0 20px;
}
.service-icon-1 ul li {
  float: left;
  letter-spacing: 5px;
  padding: 20px 15px;
}
.service-icon-1 ul li a {
  color: #000;
}
.service-class {
  position: relative;
  float: left;
  width: 100%;
}
.service-class h3 {
  text-transform: uppercase;
}
.service-class p {
  color: #202020;
  margin: 0px;
}
.img-position-1 {
  z-index: 1;
  position: absolute;
  padding: 60px 0%;
  width: 100%;
  float: left;
}
.serv-text h3,
.serv-text-1 h3 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  margin: 10px 0;
}
.serv-text p,
.serv-text-1 p {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  margin: 9px 0;
  padding: 0px 15px;
}
.serv-text a,
.serv-text-1 a {
  position: relative;
  color: #fff;
  font-size: 14px;
  padding: 0 125px;
}
.img-position-2 {
  z-index: 1;
  position: absolute;
  margin: 60px 0;
  width: 100%;
}
.img-position-3 {
  z-index: 1;
  position: absolute;
  padding: 60px 0%;
  width: 100%;
}
.serv-text-1 {
  position: relative;
  width: 100%;
  padding: 115px 0px;
  background-color: #f99373;
}
.instructor-serv-1 {
  position: relative;
  width: 100%;
  padding: 34.1% 0;
  background-color: #f973a5;
}
.instructor-serv {
  position: relative;
  width: 100%;
  padding: 15.07% 0;
}
.instructor-serv h3 {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  margin: 10px 0px;
}
.instructor-serv p {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  padding: 0px 205px;
}
.ser-bubba {
  width: 100%;
  position: relative;
  float: left;
}
figure.ser-bubba h3 {
  padding: 15% 0;
}
.grid figure.ser-bubba a {
  padding: 23% 0;
}
.ser-bubba a {
  padding: 23% 0;
}
.grid figure.serv-bubba h3 {
  padding: 30% 0;
}
.grid figure.serv-bubba a {
  padding: 43% 0;
}
.services-box-instructor.bg {
  background: #f973a5;
}
.service-page .services-box-instructor {
  padding: 88px 0;
}
p.service-text-paragraf {
  padding: 0 100px;
}
/* 17.6 Calander */

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #red;
  color: #000;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #fff;
  font-weight: normal;
  color: #fff;
}
a.ui-state-default:hover {
  color: white;
}
/* 17.7 Pagination */

.pagination-box span {
  display: inline-block;
  padding-top: 3px;
  margin: 0 4px;
  background-color: #eee;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #202020;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.pagination-box span:hover {
  color: #fff;
}
/* 17.8 Comment Section */

.blog-full {
  float: left;
  width: 100%;
  position: relative;
}
.blog-full h4 {
  color: #202020;
  text-transform: uppercase;
}
.blog-full-1 {
  float: left;
  background-color: #eee;
  padding: 20px 25px;
}
.blog-full-1 h4 a {
  text-transform: uppercase;
  color: #202020;
  font-size: 18px;
}
.blog-full-1 p {
  color: #202020;
  padding: 0;
  margin: 0px;
}
.blog-full a {
  font-size: 14px;
  color: #202020;
}
.icon {
  font-size: 12px;
  text-transform: uppercase;
}
.blog-border {
  position: relative;
  float: left;
  width: 100%;
}
.blog-border P {
  border-left: 4px solid;
  background-color: #eee;
  padding: 20px 43px;
  margin: 0px;
}
.theme-quote-blockquote:after {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  content: "\f10d";
  width: 33px;
  height: 33px;
  position: absolute;
  background-size: 100% 100%;
  left: 0;
  top: 15px;
  font: normal normal normal 22px/1 FontAwesome;
  font-size: 22px;
}
.theme-quote-blockquote {
  margin: 0px auto 0px;
  border: 0;
  padding: 30px;
  width: 100%;
  position: relative;
  color: #777;
  font-size: 16px;
  font-style: italic;
  margin: 20px 0;
}
.transform {
  float: left;
  width: 100%;
  position: relative;
}
.transform a {
  text-transform: uppercase;
}
.transform h4 {
  text-transform: uppercase;
}
.depth-section {
  width: 100%;
  float: left;
  position: relative;
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
}
.depth-section-1 {
  float: left;
  position: relative;
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
  margin-left: 50px;
}
.depth-section-2 {
  float: left;
  position: relative;
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
}
.comment-img img {
  width: 100%;
}
.blog-comment {
  width: 100%;
  position: relative;
  float: left;
}
.blog-comment h5 a {
  float: left;
  font-size: 16px;
  color: #202020;
}
.blog-comment h6 {
  padding: 3px 8%;
  text-transform: uppercase;
}
.blog-comment p {
  color: #202020;
  font-size: 16px;
  margin-bottom: 10px;
}
.blog-comment a i {
  float: right;
  margin: -15px;
  font-size: 16px;
  color: #202020;
}
.post-gray {
  width: 100%;
  float: left;
  position: relative;
}
.post-gray input {
  background-color: #eee;
  color: #202020;
  border: 0px;
  margin-top: 20px;
}
.post-gray a {
  margin-top: 20px;
}
.post-gray text-area {
  background-color: #eee;
  color: #202020;
  border: 0px;
  margin-top: 20px;
  margin: 20px 0px;
}
.contact-text {
  position: relative;
  float: left;
  width: 100%;
}
.contact-text h3 {
  text-transform: uppercase;
  text-align: center;
}
/* 17.9 Sidebar */

.search-bar,
.search-bar-1 {
  float: left;
  position: relative;
  width: 100%;
}
.search-bar button {
  position: absolute;
  float: left;
  top: 5px;
  left: 85%;
  border: 0px;
  background-color: #eee;
  color: #202020;
  z-index: 0;
}
.search-bar-1 button {
  position: absolute;
  float: left;
  top: 1px;
  left: 86%;
  right: 0;
  border: 0px;
  color: white;
  z-index: 0;
  padding: 5px 11px;
}
.search-bar input,
.search-bar-1 input {
  background-color: #eee;
  border: 0px;
  font-size: 14px;
}
.img-service {
  float: left;
  width: 100%;
  position: relative;
}
.img-service ul li {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.side-pad {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidebar-content {
  float: left;
  position: relative;
  width: 100%;
}
.sidebar-content h6 a {
  font-size: 16px;
  margin: 0 0px;
  font-weight: bolder;
  text-transform: uppercase;
}
.sidebar-content p {
  margin: 0px 0px;
  font-size: 16px;
  color: #202020;
}
.sidebar-content a {
  font-size: 14px;
  color: #202020;
}
.sidebar-list {
  float: left;
  width: 100%;
  position: relative;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.sidebar-list ul li {
  float: left;
  padding: 8px;
  background-color: #eee;
  margin: 5px;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.sidebar-list ul li a {
  color: #202020;
  text-transform: capitalize;
}
.sidebar-list ul li:hover a {
  color: #fff;
}
.sidebar-box {
  width: 100%;
  float: left;
  padding: 2px;
  text-align: center;
}
.sidebar-icon {
  width: 100%;
  background-color: white;
  float: left;
  font-size: 18px;
  padding: 10px 3px;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.sidebar-icon:hover {
  color: #fff;
}
.sidebar-pera {
  float: left;
  width: 100%;
  position: relative;
}
.sidebar-pera a {
  font-style: italic;
  font-size: 15px;
}
.sidebar-blog-list {
  float: left;
  width: 100%;
  position: relative;
}
.sidebar-blog-list ul li {
  text-transform: capitalize;
}
.sidebar-blog-list ul li a {
  color: #202020;
  margin-bottom: 10px;
}
.sidebar-gallary-list {
  float: left;
  width: 100%;
  position: relative;
}
.sidebar-gallary-list ul li {
  float: left;
  margin: 5px 5px;
  width: 29%;
}
.sidebar-banner {
  position: relative;
  width: 100%;
  float: left;
}
figure.sidebar-effect:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: 0;
  z-index: 1;
  webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.sidebar-banner:hover figure.sidebar-effect:before {
  opacity: 0.5;
}
figure.sidebar-effect:before {
  background-color: #000;
}
.sidebar-banner:hover a {
  opacity: 1;
}

/*
==========================
19 Footer
==========================
*/

.mini-logo {
  width: 60px;
  height: 60px;
}

.color-detail {
  width: 100%;
  position: relative;
  float: left;
}
.budda-img {
  border: 1px solid #fff;
  padding: 5px 15px;
  text-align: center;
}
.text-color {
  color: #202020;
}
.text-color-grey {
  color: grey;
}

.color-detail {
  color: #ffffff;
}
.color-detail p {
  margin: 0px;
}
.color-effect {
  color: white;
  border: 2px solid white;
}
input.itg-button.pull-right.color-effect:hover {
  background-color: white;
}
.hover-detail {
  position: relative;
  float: left;
  width: 100%;
  font-size: 14px;
}
.hover-detail a {
  color: #202020;
}
.transform-footer {
  text-transform: uppercase;
}
.transform-footer h3 {
  text-transform: uppercase;
  color: #ffffff;
}
.transform-footer h4 {
  text-transform: uppercase;
  color: #202020;
}
.transform-footer li {
  text-transform: uppercase;
  float: left;
}
.capitalize {
  text-transform: capitalize;
}
.capitalize li {
  text-transform: capitalize;
}
.capitalize p {
  text-transform: capitalize;
  margin-bottom: 0;
}
.margin-detail {
  float: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.margin-detail input {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
.margin-detail input:hover {
  color: white;
}
.margin-detail p {
  margin-bottom: 0px;
}
.footer-gallary {
  color: #ffffff;
}
.footer-gallary ul li {
  float: left;
  width: 25%;
  color: #202020;
}
.social-gallary ul li {
  float: left;
}
.social-gallary li a {
  color: #202020;
  padding-right: 5px;
}
.footer-detail {
  float: left;
}

.text-transform {
  text-transform: uppercase;
}
.color-f {
  background-color: #fcf5f1;
}
.color-bright {
  background-color: #e497a4;
}
ul.text-color.capitalize.capitalize li {
  padding-bottom: 5px;
}

.hand-writing {
  font-family: "Cafe24Shiningstar";
}

.hand-writing1 {
  font-family: "Cafe24Shiningstar";
  font-size: 20px;
  color: rgb(117, 72, 66);
}

.hand-writing2 {
  font-family: "Cafe24Shiningstar";
  font-size: 30px;
  color: #000;
}

/*
==========================
20 Quote
==========================
*/

.iam {
  height: 120px;
  float: left;
}

.iam-status {
  overflow: hidden;
  position: relative;
  height: 30px;
  float: left;
}
.iam-status span {
  display: inline-block;
  color: #ee005b;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  -webkit-animation: move 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -30px;
  }
  40% {
    top: -60px;
  }
  60% {
    top: -90px;
  }
  80% {
    top: -120px;
  }
}

/*
==========================
21 Google Map
==========================
*/

#gmap_canvas {
  height: 410px;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*
==========================
22 Skylith template
==========================
*/

.nk-text,
.agency-1 h4 {
  font-family: "Cafe24Shiningstar";
}

.agency-1 h4 {
  font-size: 22px;
}

.nk-gap,
.nk-gap-1,
.nk-gap-2,
.nk-gap-3,
.nk-gap-4,
.nk-gap-5,
.nk-gap-6 {
  display: block;
  height: 20px;
}

.nk-gap::after,
.nk-gap::before,
.nk-gap-1::after,
.nk-gap-1::before,
.nk-gap-2::after,
.nk-gap-2::before,
.nk-gap-3::after,
.nk-gap-3::before,
.nk-gap-4::after,
.nk-gap-4::before,
.nk-gap-5::after,
.nk-gap-5::before,
.nk-gap-6::after,
.nk-gap-6::before {
  content: "";
  display: block;
  clear: both;
}

.nk-gap-1 {
  height: 30px;
}

.nk-gap-2 {
  height: 40px;
}

.nk-gap-3 {
  height: 60px;
}

.nk-gap-4 {
  height: 80px;
}

.nk-gap-5 {
  height: 100px;
}

.nk-gap-6 {
  height: 120px;
}

.nk-img-stretch {
  width: 100%;
  height: auto;
}

.nk-subtitle-3 {
  position: relative;
  margin-bottom: 12px;
  font-family: inherit;
  font-size: 0.83rem;
  font-weight: 500;
  color: #171717;
  text-transform: uppercase;
}

.nk-subtitle-3::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -60px;
  width: 30px;
  margin-top: -1px;
  border-bottom: 1px solid;
}

.nk-btn {
  display: inline-block;
  padding: 16px 35px;
  font-family: inherit;
  font-size: 0.96rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #252525;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nk-ibox-4 {
  position: relative;
  padding: 35px 30px;
  border: 1px solid #ededed;
}

.nk-ibox-4 .nk-ibox-icon {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 17px;
  font-size: 3.1rem;
  line-height: 50px;
  color: #252525;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nk-ibox-4 .nk-ibox-title {
  font-size: 0.91rem;
  font-weight: 500;
  color: #252525;
  text-transform: uppercase;
}

.nk-ibox-4 .nk-ibox-text {
  margin-top: 8px;
  color: #444444;
  opacity: 0.75;
}

.nk-ibox-4.nk-ibox-4-dark {
  border-color: #3a3a3a;
}

.nk-ibox-4.nk-ibox-4-dark .nk-ibox-icon,
.nk-ibox-4.nk-ibox-4-dark .nk-ibox-title {
  color: #fff;
}

.nk-ibox-4.nk-ibox-4-dark .nk-ibox-text {
  color: #8e8e8e;
}

.nk-ibox-4:hover {
  color: #b9a186;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadeInUp {
  position: relative;
  animation: fadeInUp 1s;
}

.fadeInUp:nth-child(2) {
  animation-delay: 0.2s;
}

.fadeInUp:nth-child(3) {
  animation-delay: 0.4s;
}

.fadeInUp:last-child {
  animation-delay: 0.6s;
}

.background-second-color {
  background-color: #e684aa;
}

.margin-lr-auto {
  margin-right: auto;
  margin-left: auto;
}

.font-weight-700 {
  font-weight: 700;
}

.text-medium {
  font-size: 16px;
  line-height: 23px;
}

.opacity-6 {
  opacity: 0.6 !important;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

.ml-60 {
  margin-left: 60px !important;
}

.row.vertical-gap > [class*="col-"] {
  padding-top: 30px;
}

.row.vertical-gap {
  margin-top: -30px;
}

.row.xs-gap.vertical-gap > [class*="col-"] {
  padding-top: 10px;
}

.row.xs-gap.vertical-gap {
  margin-top: -10px;
}

.row.sm-gap.vertical-gap > [class*="col-"] {
  padding-top: 15px;
}

.row.sm-gap.vertical-gap {
  margin-top: -15px;
}

.row.md-gap.vertical-gap > [class*="col-"] {
  padding-top: 45px;
}

.row.md-gap.vertical-gap {
  margin-top: -45px;
}

.row.lg-gap.vertical-gap > [class*="col-"] {
  padding-top: 65px;
}

.row.lg-gap.vertical-gap {
  margin-top: -65px;
}

.nk-ibox-icon i {
  color: white;
}

.dark-pink {
  font-size: 20px;
  color: #000;
}

.text-black {
  color: black;
}

.iw_inner {
  font-family: "NanumSquareRound";
  padding: 20px;
}

#map {
  width: 100%;
  height: 400px;
}

#kids-map {
  width: 100%;
  height: 100%;
}

/* Finish*/
